/* *{
    border: 1px solid pink;
} */

body {
    background-size: cover;
    background-color: cadetblue;

    font-family: 'Noto Sans TC', sans-serif;

    margin-left: 0px;
    margin-right: 0px;
}

.tiles {
    display: grid;
    grid-column: auto;

    align-items: center;
    justify-content: center;
}

.headshot,
.glyph,
.bigglyph {
    padding: 5px;
    margin: 10px;
}


.headshot {
    align-items: center;
    border-radius: 40%;
    width: 200px;
}

.glyph {
    height: 40px;
}
.bigglyph {
    height: 100px;
}

.section > :is(h1, h2, h3, h4, h5, h6) {
    background: rgba(238, 238, 238, .6);
    padding: 5px;
    margin: 0px;
    text-align: center;
}

.fepsection {
    display: inline-block;   
}

.section > p {
    padding: 5px;
}

.section {
    background: rgba(238, 238, 238, .6);

    margin-left: 20px;
    margin-right: 20px;

    border: 5px rgb(238, 238, 238) solid;
}

.glyphs {
    display: flex;
    justify-content: center;
}

.spacer {
    padding: 10px;
}

.smallspacer {
    padding: 5px;
}