body {
    background-size: cover;
    background-color: cadetblue;

    font-family: 'Noto Sans TC', sans-serif;

    margin-left: 0px;
    margin-right: 0px;
}

.tiles {
    display: grid;
    grid-column: auto;

    align-items: center;
    justify-content: center;
}

.headshot,
.glyph,
.medglyph,
.bigglyph {
    padding: 5px;
    margin: 10px;
}

.headshot {
    align-items: center;
    border-radius: 40%;
    width: 200px;
}

.glyph {
    height: 40px;
}

.medglyph{
    height: 70px;
    width: auto;
}

#skillsicons{
    display: grid;
    align-items: center;
    justify-items: center;
}

.bigglyph {
    height: 100px;
}

.section > :is(h1, h2, h3, h4, h5, h6) {
    background: rgba(238, 238, 238, .6);
    padding: 5px;
    margin: 0px;
    text-align: center;
}

.subsection {
    display: inline-block;
}

p {
    padding: 5px;
}

.section {
    background: rgba(238, 238, 238, .6);

    margin-left: 20px;
    margin-right: 20px;

    border: 5px rgb(238, 238, 238) solid;
}

.glyphs {
    display: flex;
    justify-content: center;
}

.spacer {
    padding: 10px;
}

.smallspacer {
    padding: 5px;
}

@media only screen and (min-width: 374px)
{
    #skillsicons {
        align-self: center;
    }
}

@media only screen and (min-width: 375px) and (max-width: 599px)
{
    #skillsicons{
        grid-template-columns: repeat(2, 50%);
    }
}

@media only screen and (min-width: 600px) and (max-width: 799px)
{
    #skillsicons{
        grid-template-columns: repeat(3, 33%);
    }
}

@media only screen and (min-width: 800px)
{
    #skillsicons{
        grid-template-columns: repeat(5, 20%);
    }
}
